.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  isolation: isolate;
}

.header {
  width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 128px;
  right: 32px;
  min-height: 500px;
  width: 50%;
}

.controlColumn {
  width: 50%;
}

.bg {
  position: fixed;
  bottom: 0;
  background-color: hsl(195deg, 20%, 86%);
  height: 40%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .maxWidthWrapper {
    position: relative;
  }

  .header {
    width: 100%;
  }

  .characterWrapper {
    position: static;
    height: 600px;
  }

  .bg {
    visibility: hidden;
  }

  .controlColumn {
    position: absolute;
    width: 100%;
    top: 650px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
  }
}
