.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

a:visited,
a:link {
  color: rgba(255, 255, 255, 0.8);
}

a:hover,
a:focus {
  color: white;
}
